body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid #888;
}

h1 {
    color: #0066cc;
    letter-spacing: 2px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

section {
    border: 1px solid #888;
    padding: 10px;
}

h2 {
    color: green;
    text-decoration: underline green;
}

h2 span {
    color: #ff9800;
}

p {
    line-height: 1.5;
}

h3 {
    color: rgb(165, 108, 42);
}

h1:before {
    content: "Parque Natural ";
    color: #ff9800; /* Naranja claro */
}

h1:after {
    content: " Sierra Bicuerca";
    color: green; /* Verde claro */
}
